<h1>ONGs en Initiatiweb</h1>
<p>Éstas son las ONGs que están creando iniciativas en Initiatiweb:</p>
<ul class="ngo-list">
<% @ngos.each do |ngo| %>
  <li>
    <%= link_to ngo do %>
      <%= image_tag(ngo.logo.url(:thumb)) %> <%= ngo.name %>
    <% end %>
  </li>
<% end %>
</ul>
