#initiative-description img {
  width: 40%;
  float: left;
  margin: 0 10px 10px 0;
}

#initiative-description::after {
  clear: both;
  display: block;
  content: "";
}

#initiative-container::after {
  content: "";
  display: block;
  clear: both;
}

#initiative-container aside {
  width: 25%;
  float: left;
}

#initiative-content {
  width: 70%;
  margin-right: 5%;
  float: left;
}
