<!DOCTYPE html>
<html>
<head>
  <title>Initiatiweb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>HEADER</header>

<div id="main-content">
  <%= yield %>
</div>

<footer>FOOTER</footer>

</body>
</html>
